<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.HiBook.orderproduct.dao.OrderproductDAO">
 	<insert id="insertOrderProductByProductIdCountPrice" parameterType="map">
 		INSERT INTO `orderproduct`
 		(
 			`productId`
			,`userId`
			,`count`
			,`price`
			,`state`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{userId}
 			, #{count}
 			, #{price}
 			, DEFAULT
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 	<select id="selectOrderProductListById" parameterType="int" resultType="com.HiBook.orderproduct.model.Orderproduct">
 		SELECT
 			`id`
			,`productId`
			,`userId`
			,`count`
			,`price`
			, `state`
			,`createdAt`
			,`updatedAt`
		FROM
			`orderproduct`
		WHERE
			`productId` = #{productId}
 	</select>
 	<select	id="selectOrderProductListByUserId" parameterType="int" resultType="com.HiBook.orderproduct.model.Orderproduct">
 		SELECT
 			`id`
			,`productId`
			,`userId`
			,`count`
			,`price`
			, `state`
			,`createdAt`
			,`updatedAt`
		FROM
			`orderproduct`
		WHERE
			`userId` = #{userId}
 	</select>
 	<select id="selectOrderproductById" parameterType="int" resultType="com.HiBook.orderproduct.model.Orderproduct">
 		SELECT
 			`id`
			,`productId`
			,`userId`
			,`count`
			,`price`
			, `state`
			,`createdAt`
			,`updatedAt`
		FROM
			`orderproduct`
		WHERE
			`id` = #{id}
 	</select>
 	<update id="updateOrderproductById" parameterType="int">
 		UPDATE `orderproduct`
 		SET
 			`state` = 'order'
 		WHERE
 			`id` = #{id}
 	</update>
 	<update id="updateOrderproductByIdResultReturn" parameterType="int">
 		UPDATE `orderproduct`
 		SET
 			`state` = 'return'
 		WHERE
 			`id` = #{id}
 	</update>
 </mapper>