<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.HiBook.product.dao.ProductDAO">
 	<insert id="insertProductByIsbn13" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `product`
 			(
 			`isbn13`
			,`title`
			,`price`
			,`createdAt`
			,`updatedAt`
 			)
		VALUES
			(
			#{isbn13}
			, #{title}
			, #{price}
			, NOW()
			, NOW()
			) 
 		
 	</insert>
 	<select id="selectProductList" parameterType="int" resultType="com.HiBook.product.model.Product">
 		SELECT
 			`id`
			,`isbn13`
			,`title`
			,`price`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
			`id` = #{productId}
 	</select>
 </mapper>